In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from sklearn import linear_model
#To-Do
#Y=Qualifying position, 
#Replace position with 0 for Practice
#X = time and laps
data = pd.read_csv('../ScrapF1/data.csv')
data.loc[data['Type'].str.contains('Practice'),'Position'] = 0
# for index,row in data.iterrows():
#     if 'Practice' in row['Type']:
#         data['Position'] = 0
data.head(1000)

#data.groupby(['Year','Type','Track','Driver','Car']).mean()

,Year,Type,Track,Position,Driver,Car,Time,Laps
0,2010,Practice 1,Bahrain,0,Adrian Sutil,Force India Mercedes,7543,18
1,2010,Practice 1,Bahrain,0,Fernando Alonso,Ferrari,7726,18
2,2010,Practice 1,Bahrain,0,Robert Kubica,Renault,7061,19
3,2010,Practice 1,Bahrain,0,Felipe Massa,Ferrari,7075,19
4,2010,Practice 1,Bahrain,0,Jenson Button,McLaren Mercedes,7088,19
...,...,...,...,...,...,...,...,...
995,2010,Practice 3,Germany,0,Lewis Hamilton,McLaren Mercedes,4767,13
996,2010,Practice 3,Germany,0,Michael Schumacher,Mercedes,5033,16
997,2010,Practice 3,Germany,0,Rubens Barrichello,Williams Cosworth,5041,23
998,2010,Practice 3,Germany,0,Robert Kubica,Renault,5206,20
999,2010,Practice 3,Germany,0,Nico Hulkenberg,Williams Cosworth,5303,17

In [4]:
#Plot data
data.tail()

# fig, ax = plt.subplots()
# ax.plot(data[])

,Year,Type,Track,Position,Driver,Car,Time,Laps
17875,2020,Qualifying,Abu Dhabi,0,Kimi Räikkönen,Alfa Romeo Racing Ferrari,0,0
17876,2020,Qualifying,Abu Dhabi,0,Kevin Magnussen,Haas Ferrari,0,0
17877,2020,Qualifying,Abu Dhabi,0,George Russell,Williams Mercedes,0,0
17878,2020,Qualifying,Abu Dhabi,0,Pietro Fittipaldi,Haas Ferrari,0,0
17879,2020,Qualifying,Abu Dhabi,0,Nicholas Latifi,Williams Mercedes,0,0