In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from sklearn import linear_model
#To-Do
#Y=Qualifying position, 
#Replace position with 0 for Practice
#X = time and laps
data = pd.read_csv('../ScrapF1/data.csv')
data.loc[data['Type'].str.contains('Practice'),'Position'] = 0
# for index,row in data.iterrows():
#     if 'Practice' in row['Type']:
#         data['Position'] = 0
data.head(1000)

data.groupby(['Year','Type','Track','Driver','Car']).mean()

,Year,Type,Track,Position,Driver,Car,Time,Laps
0,2010,Practice 1,Bahrain,0,Adrian Sutil,Force India Mercedes,7543,18
1,2010,Practice 1,Bahrain,0,Fernando Alonso,Ferrari,7726,18
2,2010,Practice 1,Bahrain,0,Robert Kubica,Renault,7061,19
3,2010,Practice 1,Bahrain,0,Felipe Massa,Ferrari,7075,19
4,2010,Practice 1,Bahrain,0,Jenson Button,McLaren Mercedes,7088,19
...,...,...,...,...,...,...,...,...
995,2010,Practice 3,Germany,0,Lewis Hamilton,McLaren Mercedes,4767,13
996,2010,Practice 3,Germany,0,Michael Schumacher,Mercedes,5033,16
997,2010,Practice 3,Germany,0,Rubens Barrichello,Williams Cosworth,5041,23
998,2010,Practice 3,Germany,0,Robert Kubica,Renault,5206,20
999,2010,Practice 3,Germany,0,Nico Hulkenberg,Williams Cosworth,5303,17

In [45]:
#Plot data
#data.groupby(['Year','Type','Track','Driver','Car']).mean()
isPractice = data['Type'].str.contains('Practice')

# isQualifying = data['Type'].str.contains('Qualifying')
data[isPractice].head(200)
# practiceData = data[isPractice][['Year','Track','Car','Time','Laps']].groupby(['Year','Track','Car']).mean()
# practiceData
# qualifyingData = data[isQualifying]
# qualifyingData.tail()

# merged = pd.merge(practiceData,qualifyingData,on=['Year','Track','Driver','Car'])
# merged[['Year','Track','Driver','Car','Time_x','Laps_x','Position_y']].head()

# fig, ax = plt.subplots()
# ax.plot(merged.head()['Time_x'],merged.head()['Position_y'])

                                                 Time       Laps
Year Track     Car
2010 Abu Dhabi Ferrari                    6571.000000  18.833333
               Force India Mercedes       6733.333333  19.666667
               HRT Cosworth               6850.333333  21.333333
               Lotus Cosworth             6862.166667  24.000000
               McLaren Mercedes           6605.333333  19.666667
...                                               ...        ...
2020 Tuscany   Mercedes                   5202.666667  24.833333
               Racing Point BWT Mercedes  5144.833333  24.500000
               Red Bull Racing Honda      5177.666667  23.333333
               Renault                    5011.166667  23.166667
               Williams Mercedes          5198.000000  28.200000

[2309 rows x 2 columns]

In [30]:
merged.head()

,Year,Type_x,Track,Position_x,Driver,Car,Time_x,Laps_x,Type_y,Position_y,Time_y,Laps_y
0,2010,Practice 1,Bahrain,0,Adrian Sutil,Force India Mercedes,7543,18,Qualifying,10,0,0
1,2010,Practice 2,Bahrain,0,Adrian Sutil,Force India Mercedes,7381,29,Qualifying,10,0,0
2,2010,Practice 3,Bahrain,0,Adrian Sutil,Force India Mercedes,7421,13,Qualifying,10,0,0
3,2010,Practice 1,Bahrain,0,Fernando Alonso,Ferrari,7726,18,Qualifying,3,0,0
4,2010,Practice 2,Bahrain,0,Fernando Alonso,Ferrari,7160,25,Qualifying,3,0,0